# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule
*.so
/.cache/
# VS Code
.vscode/
.history/

# Environment
.env

# PyInstaller
dist/
build/
*.spec